h1 {
    text-align: center;
    font-family: "spiderman1", sans-serif;
    font-size: 250%;
    color: white;
   
}
.top-text, .bottom text {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding: 120px 0;
}
.top-text {
    top: 0;
}
.bottom-text {
    bottom: 0;
}
h2 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 100%;
    color:darksalmon
}

.profilepic {
    border: 5px solid grey;
    position: absolute;
width: 250px;
height: 250px;
left: 3%;
top: 10%;
}

body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(teahub.io-dark-rain-wallpaper-1861346\ \(2\).jpg);
    background-size: cover;
    background-position: center;
    background-color: black;
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
    background-repeat: no-repeat;
  }
  
  .text-container1 {
    position: absolute;
    top: 20%;
    left: 28%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  .text-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .text-container h2 {
    margin-bottom: 1rem;
  }
  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    z-index: 1;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 10;
    padding: 10;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    display: block;
    padding: 10px 20px;
    text-decoration:none;
    color: #fff;
    border-radius: 30%;
  }
  
  nav a:hover {
    background-color: #555;
  }

.text-container3 {
  background-color: rgba(255, 255, 255, 0.7); 
  width: 30%; 
  margin: 0 auto;
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box; 
  position: absolute; 
  top: 60%; 
  left: 75%; 
  transform: translate(-50%, -50%); 
  height: 250px;
}

.text-container4 {
  background-color: rgba(255, 255, 255, 0.7); 
  width: 30%; 
  margin: 0 auto;
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box; 
  position: absolute; 
  top: 90%; 
  left: 75%; 
  transform: translate(-50%, -50%); 
  height: 250px;
}

.text-container4 h4 {
  font-size: 120%;
  margin: 0;
}

.text-container5 {
  background-color: rgba(255, 255, 255, 0.7); 
  width: 30%; 
  margin: 0 auto;
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box; 
  position: absolute; 
  top: 120%; 
  left: 75%; 
  transform: translate(-50%, -50%); 
  height: 250px;
}

.text-container5 h5 {
  font-size: 120%;
  margin: 0;
}

.text-container6 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  top: 50%;
  transform: translate(-50%, -50%); 
  height: 1350px;
  width: 100%;
  

}

.progress-container1 {
 
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  max-width: 800px;
}

.progress-bar1 {
  max-width: 800px;
  width: 50%;
  height: 20px;
  background-color: #4CAF50;
  transition: width 0.5s ease-in-out;
}

.text-container6 h2 {
  font-size: 200%;
}

.text-container7 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  top: 50%;
  transform: translate(-50%, -50%); 
  height: 3550px;
  width: 100%;
}
.progress-container2 {
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  max-width: 800px;
}
.progress-bar2 {
  max-width: 800px;
  width: 50%;
  height: 20px;
  background-color: #4CAF50;
  transition: width 0.5s ease-in-out;
}

.text-container7 h2 {
  font-size: 200%;
}

.text-container8 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  top: 50%;
  transform: translate(-50%, -50%); 
  height: 10150px;
  width: 100%;
}
.progress-container3 {
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  max-width: 800px;
}
.progress-bar3 {
  max-width: 800px;
  width: 50%;
  height: 20px;
  background-color: #4CAF50;
  transition: width 0.5s ease-in-out;
}

.text-container8 h2 {
  font-size: 200%;
}

@media only screen and (max-width: 768px) {
  h1 {
  font-size: 150%;
  }
  
  .top-text, .bottom-text {
  padding: 80px 0;
  }
  
  .profilepic {
  width: 150px;
  height: 150px;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  }
  
  .text-container1 {
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  
  .text-container3, .text-container4, .text-container5 {
  width: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  margin-top: 50px;
  height: auto;
  top: 0;
  }
  
  .text-container6, .text-container7 {
  max-width: 100%;
  padding: 10px;
  height: auto;
  }
  
  .progress-container1 {
  max-width: 100%;
  }
  
  nav ul {
  flex-wrap: wrap;
  justify-content: center;
  }
  
  nav li {
  margin: 10px 0;
  }
  }




  @font-face {
    font-family: "spiderman1";
    src: url(Mightyspidey-pmaa.ttf) format("truetype");
    /* You can add additional font files with different formats for cross-browser compatibility */
  }
  
